body{
    margin: 0;
    padding: 0;
}
#mainContainer{
    display: flex;
    border: 2px solid red;
    width: auto;
}
#topLine{
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.975);
    border-bottom: 10px solid black;
    block-size: 350px;
    z-index: 100001 !important;
    text-align: center;
    /* padding-top: 10px; */
}
.h1Style{
    border: 2px solid white;
    width: 50%;
    margin: auto;
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: -10px;
}
h1{
    color: #ffffff;
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    width: 98%;
    margin: 1% auto;
    padding: 25px 0;
}

#displayKeysBlockCover{
    display: flex;
    align-items: center;
    position: absolute;
    left: 2.5%;
    right: 2.5%;
    width: 95%;
    block-size: 225px;
    margin-top: 115px;
    border: 2px solid #ffffff;
    background-color: brown;
    z-index: 160001 !important;
}
#displayKeysBlock{
    position: absolute;
    display: flex;
    top: 5%;
    block-size: auto;
    width: 100%;
    align-items: center;
    background-color: rgb(139, 139, 139);
    border: 2px solid black;
    color: rgb(255, 255, 255);
    z-index: 160001 !important;
}
.h2Style{
    color: brown;
}
.fieldOfDisplay{
    background-color: #f2ff7b;
    color: black;
    /* outline: 2px dashed black;
    outline-offset: -5px; */
    height: 100px;
    width: 25%;
}
#displayKeysBlock :nth-child(1) div{
    border: 2px solid#86ff7b;
}
#displayKeysBlock div:nth-child(3){
    border: 2px solid#887bff;
}
#displayKeysBlock div:nth-child(5){
    border: 2px solid#ff7b7b;
}
#displayKeysBlock :nth-child(1) h2{
    color: rgb(255, 0, 0);
}
#displayKeysBlock :nth-child(3) h2{
    color: black;
}
#displayKeysBlock :nth-child(5) h2{
    color: blue;
}
#displayKeysBlock .fieldOfDisplay:nth-child(4){
    width: 300%;
    /* block-size: auto; */
}
#displayKeysBlock .fieldOfDisplay:nth-child(4) div{
    block-size: 100%;
    border: 2px solid white;
    background: url('/img/mainLinesTransparent.png'),rgb(255, 255, 255, 1.0);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 65%, 100%;
    background-position-y: center;
    
}
#trebleLine{
    margin-bottom: 5px;
}
#trebleLine, #bassLine{
    outline: 2px dashed black;
    outline-offset: -5px;
}

/*KEYBOARD MARKUP |||-|||-|||-|||-|||-|||-|||-|||*/
.keyboardMain{
    border: 2px solid cyan;
    margin: 0;
    float: start;
    width: content;
    display: block;
}
#AllOctaves{
    display: flex;
    margin-top: 300px;
    border: 2px solid green;
    resize: both;
    overflow: fixed;
}
.octaveDefault{
    display: flex;
}
.buttonWhiteLeft, .buttonWhiteMid, .buttonWhiteRight{
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    width: 100px;
    padding: 0;
    z-index: 3001 !important;
    text-align: center;
}
.buttonBlack{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 350px;
    width: 50px;
    padding: 0;
    z-index: 50001 !important;
    margin-left: -25px;
    margin-right: -25px;
    text-align: center;
    
}
.buttonBlack:hover{
    cursor: pointer;
    background-color: darkcyan;
    outline: 2px solid black;
    outline-offset: -2px;
    transition-duration: 0.5s;
}
.buttonWhiteLeft:hover, .buttonWhiteMid:hover, .buttonWhiteRight:hover{
    cursor: pointer;
    background-color: darkcyan;
    outline: 2px solid blue;
    outline-offset: -2px;
    transition-duration: 0.5s;
}
.buttonBlack:active, .buttonWhiteLeft:active, .buttonWhiteMid:active, .buttonWhiteRight:active{
    cursor: pointer;
    background-color: blue;
    transition-duration: 0.5s;
}

.textOnButtons{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: rgba(137, 43, 226, 0.25);
    text-align: center;
    justify-content: center;
    margin: 0% 40% 20% 40%;
    width: 20%;
    padding: 0;
    
}
.spanKeyNumber{
    margin: 100px auto auto auto;
    color: red;
    z-index: 110001 !important;
}
.spanNoteName{
    margin: auto auto 10px auto;
    font-weight: bold;
}
/*END OF KEYBOARD MARKUP |||-|||-|||-|||-|||-|||-|||-|||*/

.toolsBlock{
    display: flex;
    /* position: absolute; */
    bottom: 0;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px !important;
    background-color: brown;
}
/* .toolsBlock div{
    background-color: blue;
} */

#OutputResult{
    display: block;
    position: absolute;
    background-color: black;
    color: #ffffff;
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -5px;
    block-size: 100px;
    width: 100%;
    bottom: 0;
    padding: 10px;
    z-index: 8001 !important;
}