body{
    margin: 0;
}
#mainContainer{
    display: block;
    border: 2px solid red;
    width: auto;
}
#topLine{
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(165, 42, 42, 1.0);
    block-size: 200px;
    /* margin-bottom: -25px; */
    z-index: 100001 !important;
}
.keyboardMain{
    border: 2px solid cyan;
    margin: 0;
    float: start;
    width: content;
    display: block;
}
#AllOctaves{
    display: flex;
    margin-top: 150px;
    border: 2px solid green;
    resize: both;
    overflow: fixed;
}
.octaveDefault{
    display: flex;
}
.buttonWhiteLeft, .buttonWhiteMid, .buttonWhiteRight{
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    width: 100px;
    padding: 0;
    z-index: 3001 !important;
    text-align: center;
}
.buttonBlack{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 350px;
    width: 50px;
    padding: 0;
    z-index: 50001 !important;
    margin-left: -25px;
    margin-right: -25px;
    text-align: center;
    
}
.buttonBlack:hover, .buttonWhiteLeft:hover, .buttonWhiteMid:hover, .buttonWhiteRight:hover{
    cursor: pointer;
    background-color: blue;
    transition-duration: 0.5s;
}
.spanKeyNumber{
    margin: auto auto 10px auto;
}